
*
{margin: 0;
    padding: 0%;

}
.top{background-image: url(blue.jpg);

}
section{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
    color: rgb(172, 162, 233);
}